.row
  %h1 The Linebacker Campaigns
.row
  .col-md-6.col-xs-12
    %h3 Strike locations
    #map

  .col-md-6.col-xs-12
    / This looks pretty useful for passing variables into partials:
    / http://stackoverflow.com/questions/11589346/how-can-i-use-a-local-or-per-view-variable-in-sinatra-with-haml-partials
    %p
      Geocoded location data
      = @dates
    %form{ name: 'date' }
      %select
        - @dates.each do |date|
          %option{ value: date.to_s } #{date}

      %input{ type: 'submit', value: 'Show targets' }

%script{ async: '', defer: 'defer',
  src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['LINEBACKER_GOOGLE_MAPS_KEY']}" }
  :cdata
