%nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
  %ul.navbar-nav.mr-auto
    %li
      %a.nav-link{ href: '/', title: 'Home' }  Home
    %li
      %a.nav-link{ href: 'https://en.wikipedia.org/wiki/Operation_Linebacker',
        title: 'About Linebacker' } Operation Linebacker

